# compiled object files
*.slo
*.lo
*.o
*.oxx

# misc compiler files
*.d
*.dxx
*.map

# compiled dynamic libraries
*.so
*.dylib

# compiled static libraries
*.lai
*.la
*.a

# build-generated elements
gen
